In [3]:
import pandas as pd
data = pd.read_csv("stationdata.csv").convert_dtypes()
data.head()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.4,12.19,0.1,10.76,109.26,0.17,5.92,0.1,<NA>,<NA>
1,AP001,2017-11-25,81.4,124.5,1.44,20.5,12.08,10.72,0.12,15.24,127.09,0.2,6.5,0.06,184,Moderate
2,AP001,2017-11-26,78.32,129.06,1.26,26.0,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197,Moderate
3,AP001,2017-11-27,88.76,135.32,6.6,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198,Moderate
4,AP001,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.0,138.18,0.17,5.02,0.07,188,Moderate

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108035 entries, 0 to 108034
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   StationId   108035 non-null  string
 1   Date        108035 non-null  string
 2   PM2.5       86410 non-null   Float64
 3   PM10        65329 non-null   Float64
 4   NO          90929 non-null   Float64
 5   NO2         91488 non-null   Float64
 6   NOx         92535 non-null   Float64
 7   NH3         59930 non-null   Float64
 8   CO          95037 non-null   Float64
 9   SO2         82831 non-null   Float64
 10  O3          82467 non-null   Float64
 11  Benzene     76580 non-null   Float64
 12  Toluene     69333 non-null   Float64
 13  Xylene      22898 non-null   Float64
 14  AQI         87025 non-null   Int64
 15  AQI_Bucket  87025 non-null   string
dtypes: Float64(12), Int64(1), string(3)
memory usage: 14.5 MB

In [5]:
data.loc[data.isna().any(axis="columns")]

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,2017-11-24,71.36,115.75,1.75,20.65,12.4,12.19,0.1,10.76,109.26,0.17,5.92,0.1,<NA>,<NA>
93,AP001,2018-02-25,46.16,115.95,11.52,17.19,18.59,16.35,<NA>,9.18,16.94,0.13,2.51,0.13,116,Moderate
94,AP001,2018-02-26,34.31,107.74,9.19,20.85,18.66,15.88,<NA>,13.97,16.28,0.1,2.44,0.12,98,Satisfactory
112,AP001,2018-03-16,16.62,39.94,4.9,8.18,8.43,11.53,0.58,6.37,12.68,0.01,1.52,<NA>,51,Satisfactory
117,AP001,2018-03-21,48.71,96.46,5.63,14.86,12.65,13.01,0.92,15.45,27.48,0.06,1.73,0.1,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,2020-06-27,8.65,16.46,<NA>,<NA>,<NA>,<NA>,0.69,4.36,30.59,1.32,7.26,<NA>,50,Good
108031,WB013,2020-06-28,11.8,18.47,<NA>,<NA>,<NA>,<NA>,0.68,3.49,38.95,1.42,7.92,<NA>,65,Satisfactory
108032,WB013,2020-06-29,18.6,32.26,13.65,200.87,214.2,11.4,0.78,5.12,38.17,3.52,8.64,<NA>,63,Satisfactory
108033,WB013,2020-06-30,16.07,39.3,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.4,<NA>,57,Satisfactory
108034,WB013,2020-07-01,10.5,36.5,7.78,22.5,30.25,27.23,0.58,2.8,13.1,1.31,7.39,<NA>,59,Satisfactory

In [6]:
data.loc[data.duplicated(keep=False)]

Empty DataFrame
Columns: [StationId, Date, PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, AQI_Bucket]
Index: []

In [7]:
to_drop = ['Date'
           ]

data.drop(to_drop, inplace=True, axis=1)

In [8]:
data.head(2)

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,71.36,115.75,1.75,20.65,12.4,12.19,0.1,10.76,109.26,0.17,5.92,0.1,<NA>,<NA>
1,AP001,81.4,124.5,1.44,20.5,12.08,10.72,0.12,15.24,127.09,0.2,6.5,0.06,184,Moderate

In [12]:
data['CO'].is_unique
data['StationId'].is_unique
data['PM2.5'].is_unique

False

In [13]:
data.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,86410.0,65329.0,90929.0,91488.0,92535.0,59930.0,95037.0,82831.0,82467.0,76580.0,69333.0,22898.0,87025.0
mean,80.272571,157.968427,23.123424,35.24076,41.195055,28.732875,1.605749,12.257634,38.134836,3.358029,15.345394,2.423446,179.74929
std,76.526403,123.418672,34.491019,29.510827,45.145976,24.897797,4.369578,12.984723,39.128004,11.156234,29.348587,6.472409,131.324339
min,0.02,0.01,0.01,0.01,0.0,0.01,0.0,0.01,0.01,0.0,0.0,0.0,8.0
25%,31.88,70.15,4.84,15.09,13.97,11.9,0.53,5.04,18.895,0.16,0.69,0.0,86.0
50%,55.95,122.09,10.29,27.21,26.66,23.59,0.91,8.95,30.84,1.21,4.33,0.4,132.0
75%,99.92,208.67,24.98,46.93,50.5,38.1375,1.45,14.92,47.14,3.61,17.51,2.11,254.0
max,1000.0,1000.0,470.0,448.05,467.63,418.9,175.81,195.65,963.0,455.03,454.85,170.37,2049.0

In [15]:
data.loc[250]

StationId            AP001
PM2.5                20.21
PM10                 91.71
NO                    4.66
NO2                  16.41
NOx                  12.61
NH3                  18.05
CO                    0.34
SO2                   6.74
O3                   29.91
Benzene               0.12
Toluene               0.08
Xylene                 0.1
AQI                    100
AQI_Bucket    Satisfactory
Name: 250, dtype: object

In [16]:
data.loc[1905:, 'NO'].head(10)

1905     4.18
1906     3.08
1907     3.32
1908     4.22
1909    30.85
1910     3.61
1911    24.49
1912     6.96
1913    12.68
1914     6.19
Name: NO, dtype: Float64

In [17]:
data['CO'].isnull().sum() / len(data)

0.1203128615726385

In [19]:
data.columns

Index(['StationId', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [21]:
data.loc[17864]

StationId     DL011
PM2.5          <NA>
PM10           <NA>
NO             <NA>
NO2            <NA>
NOx            <NA>
NH3            <NA>
CO             <NA>
SO2            <NA>
O3             <NA>
Benzene         0.0
Toluene         0.0
Xylene         <NA>
AQI            <NA>
AQI_Bucket     <NA>
Name: 17864, dtype: object

In [38]:
data.loc[data.duplicated(keep=False)]

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
162,AP001,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
163,AP001,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
296,AP001,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
328,AP001,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
329,AP001,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107989,WB013,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
107990,WB013,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
107991,WB013,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
107992,WB013,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
107993,WB013,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [26]:
data.loc[data.isna().any(axis="columns")]

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,71.36,115.75,1.75,20.65,12.4,12.19,0.1,10.76,109.26,0.17,5.92,0.1,<NA>,<NA>
93,AP001,46.16,115.95,11.52,17.19,18.59,16.35,<NA>,9.18,16.94,0.13,2.51,0.13,116,Moderate
94,AP001,34.31,107.74,9.19,20.85,18.66,15.88,<NA>,13.97,16.28,0.1,2.44,0.12,98,Satisfactory
112,AP001,16.62,39.94,4.9,8.18,8.43,11.53,0.58,6.37,12.68,0.01,1.52,<NA>,51,Satisfactory
117,AP001,48.71,96.46,5.63,14.86,12.65,13.01,0.92,15.45,27.48,0.06,1.73,0.1,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,8.65,16.46,<NA>,<NA>,<NA>,<NA>,0.69,4.36,30.59,1.32,7.26,<NA>,50,Good
108031,WB013,11.8,18.47,<NA>,<NA>,<NA>,<NA>,0.68,3.49,38.95,1.42,7.92,<NA>,65,Satisfactory
108032,WB013,18.6,32.26,13.65,200.87,214.2,11.4,0.78,5.12,38.17,3.52,8.64,<NA>,63,Satisfactory
108033,WB013,16.07,39.3,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.4,<NA>,57,Satisfactory
108034,WB013,10.5,36.5,7.78,22.5,30.25,27.23,0.58,2.8,13.1,1.31,7.39,<NA>,59,Satisfactory

In [30]:
data['PM2.5'].isnull().sum() / len(data)

0.20016661267181932

In [31]:
data.isnull()

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
108031,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
108032,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
108033,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
108034,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [32]:
data.isna()

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
108031,False,False,False,True,True,True,True,False,False,False,False,False,True,False,False
108032,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
108033,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
108034,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [46]:
data.drop_duplicates()

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,71.36,115.75,1.75,20.65,12.4,12.19,0.1,10.76,109.26,0.17,5.92,0.1,<NA>,<NA>
1,AP001,81.4,124.5,1.44,20.5,12.08,10.72,0.12,15.24,127.09,0.2,6.5,0.06,184,Moderate
2,AP001,78.32,129.06,1.26,26.0,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197,Moderate
3,AP001,88.76,135.32,6.6,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198,Moderate
4,AP001,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.0,138.18,0.17,5.02,0.07,188,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,8.65,16.46,<NA>,<NA>,<NA>,<NA>,0.69,4.36,30.59,1.32,7.26,<NA>,50,Good
108031,WB013,11.8,18.47,<NA>,<NA>,<NA>,<NA>,0.68,3.49,38.95,1.42,7.92,<NA>,65,Satisfactory
108032,WB013,18.6,32.26,13.65,200.87,214.2,11.4,0.78,5.12,38.17,3.52,8.64,<NA>,63,Satisfactory
108033,WB013,16.07,39.3,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.4,<NA>,57,Satisfactory
108034,WB013,10.5,36.5,7.78,22.5,30.25,27.23,0.58,2.8,13.1,1.31,7.39,<NA>,59,Satisfactory

In [49]:
data.dropna()

,StationId,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
1,AP001,81.4,124.5,1.44,20.5,12.08,10.72,0.12,15.24,127.09,0.2,6.5,0.06,184,Moderate
2,AP001,78.32,129.06,1.26,26.0,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197,Moderate
3,AP001,88.76,135.32,6.6,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198,Moderate
4,AP001,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.0,138.18,0.17,5.02,0.07,188,Moderate
5,AP001,72.47,114.84,5.23,23.2,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106143,WB010,80.93,174.84,82.96,56.74,139.7,29.32,1.18,9.36,15.96,53.71,51.38,1.3,179,Moderate
106144,WB010,103.75,217.89,139.58,63.28,181.55,27.56,1.71,11.43,24.75,53.58,55.1,2.29,226,Poor
106145,WB010,115.4,225.76,193.19,70.41,213.77,35.25,2.11,10.49,22.11,58.61,61.42,3.2,259,Poor
106146,WB010,97.37,179.87,105.12,64.34,169.46,36.24,1.51,6.9,12.55,64.9,62.12,2.16,250,Poor
106147,WB010,89.13,179.89,78.47,56.37,134.84,37.98,1.3,8.13,23.21,69.67,66.15,2.42,223,Poor

In [55]:
# Replace empty strings with NaN
data.replace('', pd.NA, inplace=True)

# Drop rows where all values are NaN
data.dropna(how='all', inplace=True)

# Replace empty strings with NaN
data.replace('', pd.NA, inplace=True)

# Drop rows where any value is NaN
data.dropna(how='any', inplace=True)

In [56]:
# Export the cleaned data to a CSV file
data.to_csv('cleaned_data.csv', index=False)